<div class="container text-center">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body text-center">
                <main class="form-signin">
                  <form name="form_login">
                    <img src="" class="w-50" alt="">
                    <h1 class="h3 mb-3 fw-normal">Lấy lại password</h1>
                    <div class="form-floating mb-3">
                      <div>Email</div>
                      <label for="floatingInput"></label>
                      <input ng-model="student.email" type="email" name="email" class="form-control" id="floatingInput1"
                         required>
                      <span class="text-danger" ng-hide="form_login.email.$untouched || form_login.email.$valid">
                        <span ng-show="form_login.email.$error.required">Bạn chưa nhập Email</span>
                        <span ng-show="form_login.email.$error.email">Không đúng định dạng email</span>
                      </span>
                    </div>

                    <button class="w-10 btn btn-lg btn-primary" ng-click="login()"
                      type="submit">Gửi email</button>
                  </form>
                </main>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>


