<div class="container">
    <h3>Quản lý Account</h3>
    <label for="" class="py-2">
        <a href="#!register" class="btn btn-primary ">Thêm account</a>
    </label>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in userList">
                <td>{{$index+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.sdt}}</td>
                <td>
                    <button ng-click="removeUser(user.id)" class="btn btn-danger">Xoá</button>
                    <a href="#!user/{{user.id}}/edit" class="btn btn-primary">Update</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>