<div class="container text-center">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body text-center">
                <main class="form-signin">
                  <form name="form_login">
                    <img src="" class="w-50" alt="">
                    <h1 class="h3 mb-3 fw-normal">Vui lòng đăng nhập</h1>
                    <div class="form-floating mb-3">
                      <div>Email</div>
                      <label for="floatingInput"></label>
                      <input ng-model="student.email" type="email" name="email" class="form-control" id="floatingInput1"
                         required>
                      <span class="text-danger" ng-hide="form_login.email.$untouched || form_login.email.$valid">
                        <span ng-show="form_login.email.$error.required">Bạn chưa nhập Email</span>
                        <span ng-show="form_login.email.$error.email">Không đúng định dạng email</span>
                      </span>
                    </div>
                    <div class="form-floating">
                      <div>Password</div>
                      <input ng-model="student.password" type="password" class="form-control" validate-password
                        name="password" id="floatingPassword"  required>
                      <label for="floatingPassword"></label>
                      <span class="text-danger" ng-hide="form_login.password.$untouched || form_login.password.$valid">
                        <span ng-show="form_login.password.$error.required">Bạn chưa nhập mật khẩu </span>
                        <span ng-show="form_login.password.$error.check_pwd">Mật khẩu tối thiểu 6 kí tự</span>
                      </span>
                    </div>
                    <div class="checkbox mb-3">
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" ng-click="login()"
                      type="submit">Đăng nhập</button>
                  </form>
                </main>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>


