<div class="container">
    <h3 class="text-center py-4">Quản lý sản phẩm</h3>

    <a class="btn btn-primary" href="#!add-product">Thêm sản phẩm</a><br><br>
    <table class="table table-bordered " >
        <thead>
            <tr>
                <th class="">STT</th>
                <th>Tên</th>
                <th>Giá </th>
                <th>Số lượng </th>
                <th>Danh mục</th>
                <th>Ảnh</th>
                <th> Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in productList">
                <td>{{$index + 1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td >{{product.categoryId}}</td>
                <td > <img srcset="{{product.img}} 5x   " class="img-fluid" alt=""></td>
                <td width="200">
                    <button class="btn btn-danger" ng-click="removeItem(product.id)">Remove</button>
                    <a href="#!product/{{product.id}}/edit" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


