<section class="brands">
    <div class="container">
        <div class="row">
            <div class="col">
                <img srcset="./upload/brands/1.png 2x" alt="" />
            </div>
            <div class="col">
                <img srcset="./upload/brands/2.png 2x" alt="" />
            </div>
            <div class="col">
                <img srcset="./upload/brands/3.png 2x" alt="" />
            </div>
            <div class="col">
                <img srcset="./upload/brands/4.png 2x" alt="" />
            </div>
            <div class="col">
                <img srcset="./upload/brands/5.png 2x" alt="" />
            </div>
        </div>
    </div>
</section>