<section class="feature-product">
    <div class="container">
        <span class="feature-product-explore">Explore new and popular styles</span>
        <div class="row">
            <div class="col-md-6">
                <div class="product-image">
                    <a href="">
                        <img srcset="./upload/feature-product/1.jpg 2x" alt="" class="img-fluid" />
                    </a>
                    <div class="product__info d-flex justify-content-between align-items-center py-4 px-3 fs-6">
                        <span>Jacket</span>
                        <span>103 product</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-image">
                            <a href="">
                                <img srcset="./upload/feature-product/2.jpg 2x" alt="" class="img-fluid" />
                            </a>
                            <div
                                class="product__info d-flex justify-content-between align-items-center py-4 px-3 fs-6">
                                <span>Jacket</span>
                                <span>103 product</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-image">
                            <a href="">
                                <img srcset="./upload/feature-product/3.jpg 2x" alt="" class="img-fluid" />
                            </a>
                            <div
                                class="product__info d-flex justify-content-between align-items-center py-4 px-3 fs-6">
                                <span>Jacket</span>
                                <span>103 product</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-image">
                            <a href="">
                                <img srcset="./upload/feature-product/4.jpg 2x" alt="" class="img-fluid" />
                            </a>
                            <div
                                class="product__info d-flex justify-content-between align-items-center py-4 px-3 fs-6">
                                <span>Jacket</span>
                                <span>103 product</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-image">
                            <a href="">
                                <img srcset="./upload/feature-product/5.jpg 2x" alt="" class="img-fluid" />
                            </a>
                            <div
                                class="product__info d-flex justify-content-between align-items-center py-4 px-3 fs-6">
                                <span>Jacket</span>
                                <span>103 product</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>