<section class="brand-banner  ">
    <div class="container brand-banner__bg">
        <div class="row ">
            <div class="col-md-6 offset-6  ">
                <img src="./images/1024px-Zara_Logo 1.png " class="img-fluid offset-4 py-4" alt="">
                <img src="./images/1024px-Zara_Logo 2.png " class="img-fluid offset-3" alt="">
                <p class="brand-banner___title offset-3">
                    Lustrous Yet understated. The New Evening
                    wear collection exclusively offered at the
                    reopened Giorgio Armani boutique in Los
                    Angeles.
                </p>
                <button class="btn btn-dark btn-lg banner__btn offset-3 " type="button">
                    <i class="bi bi-handbag mr-2 banner__icon"></i> See Conllection
                </button>
            </div>
        </div>


    </div>

</section>