<section class="best-sellers">
    <div class="container">
        <header class="new-product-header section-header">
            <h2 class="section-header__title">Best Sellers</h2>
        </header>
        <div class="new-product-body">
            <div class="block-filter d-flex justify-content-between align-items-center">
                <ul class="nav">
                    <li class="nav-item block-filter__item">
                        <a href="" class="nav-link block-filter__link block-filter__link--active">All product</a>
                    </li>
                    <li class="nav-item block-filter__item">
                        <a href="" class="nav-link block-filter__link">t-shirt</a>
                    </li>
                    <li class="nav-item block-filter__item">
                        <a href="" class="nav-link block-filter__link">hoodies</a>
                    </li>
                    <li class="nav-item block-filter__item">
                        <a href="" class="nav-link block-filter__link">jacket</a>
                    </li>
                </ul>
                <button class="btn btn-dark btn-sm">

                    <i class="bi bi-funnel d-inline-block me-1"></i> Filter
                </button>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="">
                                <img srcset="./upload/best-sellers/1.jpg 2x" alt="" class="img-fluid" />
                            </a>
                            <div
                                class="product__info d-flex justify-content-between align-items-center py-4 px-3 fs-6">
                                <div class="d-flex">
                                    <span><i class="bi bi-heart me-3"></i></span>
                                    <span><i class="bi bi-search"></i></span>
                                </div>
                                <div><i class="bi bi-bag me-1"></i> Shop Now</div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3>
                                <a href="" class="product__name">Nike Sportswear Futura Luxe</a>
                            </h3>
                            <div class="product-meta d-flex justify-content-between align-items-center">
                                <a href="" class="product__category">Bag</a>
                                <span class="product__price">$130.00</span>
                            </div>
                        </div>
                    </div>
                    <!--End .product-item-->
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="">
                                <img srcset="./upload/best-sellers/2.jpg 2x" alt="" class="img-fluid" />
                            </a>
                            <div
                                class="product__info d-flex justify-content-between align-items-center py-4 px-3 fs-6">
                                <div class="d-flex">
                                    <span><i class="bi bi-heart me-3"></i></span>
                                    <span><i class="bi bi-search"></i></span>
                                </div>
                                <div><i class="bi bi-bag me-1"></i> Shop Now</div>
                            </div>
                            <div class="product__sale">HOT</div>
                        </div>
                        <div class="product-content">
                            <h3>
                                <a href="" class="product__name">Nike Sportswear Futura Luxe</a>
                            </h3>
                            <div class="product-meta d-flex justify-content-between align-items-center">
                                <a href="" class="product__category">Bag</a>
                                <div>
                                    <span class="product__price product__price--old">$130.00</span>
                                    <span class="product__price product__price--new">$60.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End .product-item-->
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="">
                                <img srcset="./upload/best-sellers/3.jpg 2x" alt="" class="img-fluid" />
                            </a>
                            <div
                                class="product__info d-flex justify-content-between align-items-center py-4 px-3 fs-6">
                                <div class="d-flex">
                                    <span>wishlist</span>
                                    <span>search</span>
                                </div>
                                <div>shopnow</div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3>
                                <a href="" class="product__name">Nike Sportswear Futura Luxe</a>
                            </h3>
                            <div class="product-meta d-flex justify-content-between align-items-center">
                                <a href="" class="product__category">Bag</a>
                                <span class="product__price">$130.00</span>
                            </div>
                        </div>
                    </div>
                    <!--End .product-item-->
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="">
                                <img srcset="./upload/best-sellers/4.jpg 2x" alt="" class="img-fluid" />
                            </a>
                            <div
                                class="product__info d-flex justify-content-between align-items-center py-4 px-3 fs-6">
                                <div class="d-flex">
                                    <span>wishlist</span>
                                    <span>search</span>
                                </div>
                                <div>shopnow</div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3>
                                <a href="" class="product__name">Nike Sportswear Futura Luxe</a>
                            </h3>
                            <div class="product-meta d-flex justify-content-between align-items-center">
                                <a href="" class="product__category">Bag</a>
                                <span class="product__price">$130.00</span>
                            </div>
                        </div>
                    </div>
                    <!--End .product-item-->
                </div>


            </div>
        </div>
    </div>
</section>