<section class="follow-instagam">
    <div class="container ">
        <header class="new-product-header section-header">
            <h2 class="section-header__title">Follow Products And Discounts On Instagram</h2>
        </header>
        <div class="instagram-img py-4">
            <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
                src="//lightwidget.com/widgets/94e1d10365e85126921ec6dc573a5431.html" scrolling="no"
                allowtransparency="true" class="lightwidget-widget"
                style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>

        <body class="new-product-header section-header py-4">
            <h2 class="section-header__title">Or Subscribe To The Newsletter</h2>
            <div class="row py-4">
                <div class="col-md-5 offset-3">
                    <input type="text" placeholder="Email Address ..." class="instagram-inputEmail ">
                </div>
                <div class="col-md-2 ">
                    <button class=" btn-submit">Submit</button>
                </div>


            </div>

        </body>

    </div>
</section>