<div class="container">
    <form ng-submit="updateItem($event)">
        <h2>Sửa sản phẩm</h2>
        <div class="mb-3">
            <label for="name" class="label-control">Product Name</label>
            <input
                type="text"
                class="form-control"
                placeholder="Product Name"
                ng-model="product.name"
            />
        </div>
        <div class="mb-3">
            <label for="price" class="label-control">Price</label>
            <input
                type="text"
                class="form-control"
                placeholder="Product Price"
                ng-model="product.price"
            />
        </div>
        <div class="mb-3">
            <label for="cate" class="label-control">Danh mục sản phẩm</label>
            <select class="form-control" name="" id="" ng-model="product.category">
                <option value="" ng-repeat="cate in cateList">{{cate.label}}</option>
            </select>
        </div>
        <button class="btn btn-primary">Update</button>
    </form>
</div>